<main>
  <div>
    <div class="button" ngf-select="vm.upload($files)" ngf-multiple="true">Select File</div>
    <div ngf-drop ngf-select ng-model="vm.files" class="drop-box" 
        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf" 
        ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    Files:
    <ul>
        <li ng-repeat="f in vm.files">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    Upload Log:
    <pre>{{vm.log}}</pre>
  </div>
</main>
