<fieldset class="segment-detail">
  <legend class="segment-detail__legend">Segment Details:</legend>

  <p>{{vm.segment.id}}</p>
  <div class="ui-input">
    <input ng-model="vm.segment.fieldName" type="text">
  </div>
  <div class="ui-input">
    <input ng-model="vm.segment.name" type="text">
  </div>
  <div class="ui-input">
    <input ng-model="vm.segment.size" type="text">
  </div>
  <tags-input ng-model="vm.segment.tags">
    <auto-complete source="vm.loadTags($query)"></auto-complete>
  </tags-input>
  <a ng-click="vm.updateSegment(vm.segment.id)">Update</a>

</fieldset>
