//## Typography

$primary-font: 'Times New Roman', sans-serif;

$font-size-base: 1.6rem;

//## Colors

$body-color: #fbfbfb;

$base-font-color: #000;
$primary-font-color: lighten($base-font-color, 13%);
$secondary-font-color: #999;

//## Media queries breakpoints
$xs: 480px;
$small: 768px;
$medium: 992px;
$large: 1200px;
