.btn {
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 15px;
  border: 0;
}

.btn--default {
  background: #519bf5;
}

.btn--warning {
  background: #ffc107;
}
