.navbar {
  height: 6.5rem;
  background-color: #0277bd;
  padding: 1rem;

  .nav-links, 
  .logo {
    display: inline-block;
  }
  .logo {
    color: #f5f5f5;
    margin-right: 50%;
  }
    
  .nav-links {
    span {
      color: #f5f5f5;
      font-size: 1.6rem;
    }
  }
}
