.segment-detail {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  background: #fff;
  border: 1px groove rgba(34, 36, 38, .15);
}

.segment-detail__legend {
  font-size: 1.3rem;
  font-weight: bold;
}
