.button {
  padding: 5px 10px;
  margin: 10px;
}

.drop-box {
  background: #F8F8F8;
  border: 2px solid #000;
  width: 500px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  overflow: auto;
}

.dragover {
  border: 2px dashed blue;
}

.segments {
  @include clearfix;
  list-style: none;
}

.segments__item {
  float: left;
  width: 70px;
  text-align: center;
  margin: 0 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.segment {
  &.active {
    background: rgba(0, 0, 0, .1);
  }
}

.segment__name {
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress {
  width: 100%;
  background: rgba(0,0,0,.1);
  border-radius: .28571429rem;
  position: relative;

  .bar {
    height: 15px;
    background-color: #e6bb48;
    border-radius: .28571429rem;
    transition: width .1s ease,background-color .1s ease;
    transition-duration: 300ms;

    &:after {
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      border-radius: .28571429rem;
      -webkit-animation: progress-active 2s ease infinite;
      animation: progress-active 2s ease infinite;
    }
  }

  .label {
    @include center(xy);
    font-size: 1.3rem;
    position: absolute;
    font-weight: bold;
  }
}

@-webkit-keyframes progress-active {
  0% {
      opacity: .3;
      width: 0
  }

  100% {
      opacity: 0;
      width: 100%
  }
}

@keyframes progress-active {
  0% {
      opacity: .3;
      width: 0
  }

  100% {
      opacity: 0;
      width: 100%
  }
}


// test

.advancedDemo ul[dnd-list],
.advancedDemo ul[dnd-list] > li {
  position: relative;
}

.advancedDemo .dropzone ul[dnd-list] {
  min-height: 42px;
  margin: 0px;
  padding-left: 0px;
}

.advancedDemo .dropzone li {
  display: block;
}

.advancedDemo .dropzone .dndDragging {
  opacity: .7;
}

.advancedDemo .dropzone .dndDraggingSource {
  display: none;
}

.advancedDemo .dropzone .dndPlaceholder {
  background-color: #ddd !important;
  min-height: 42px;
  display: block;
  position: relative;
}

.advancedDemo .dropzone .itemlist {
  min-height: 120px !important;
}

.advancedDemo .dropzone .itemlist > li {
  border: none;
  border-radius: .25em;
  float: left;
  font-weight: 700;
  height: 70px;
  margin: 5px;
  padding: 3px;
  text-align: center;
  width: 70px;
}

.advancedDemo .dropzone .container-element {
  margin: 10px;
}
