.track {
  @include clearfix;
  height: 150px;
  background: #f1f1f1;
  border: 2px solid #000;
  list-style: none;

  &.itemlist > li {
    border: none;
    border-radius: 5px;
    float: left;
    font-weight: 700;
    height: 50px !important;
    margin: 5px;
    padding: 3px;
    text-align: center;
    width: 100px !important;
  }
}

.track__item {
  float: left;
  text-align: center;
  margin: 0 5px;

  background: #00897B;
  color: #fff;
  height: 50px !important;
  border-radius: 5px;
  width: 100px !important;
}
