//## Typography

$primary-font: 'Times New Roman', sans-serif;

$font-size-base: 1.6rem;

//## Colors

$body-color: #fbfbfb;

$base-font-color: #000;
$primary-font-color: lighten($base-font-color, 13%);
$secondary-font-color: #999;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $body-color;
  color: $primary-font-color;
  font-family: $primary-font;
  font-size: $font-size-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

img,
video,
canvas {
  max-width: 100%;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
